<%- include('partials/header') %>
<div class="intro">
    <h1 class="start">What you want, we make!</h1>
    <div>
        <img class="start-pic" src="/images/start-pic.jpeg" alt="start-pic">
        <img class="start-pic2" src="/images/start-pic2.jpeg" alt="start-pic2">
        <img  class="start-pic3" src="/images/start-pic3.jpg" alt="start-pic3">
        
    </div>
</div>

<div class="services" id="services">
    <h1 class="headerS"> Services</h1>
    <!-- <h2 class="headerS">Anything involving trim we got you covered</h2> -->
    <h3 class="servicesT">With about three decades of experience if you have an idea for 
        what you want, we can make it happen. Basically anything involving with wood we got you covered.
        We can upgrade to a modern style of however you like based upon your ideas we would
        gladly make it happen.

    </h3>
    <div class="services-pics">
        <img class="services-pics1" src="/images/services-pic1.jpg" alt="custom-cabinet">
        <h2></h2>
        <img class="services-pics2" src="/images/services-pic2.jpeg" alt="porch">
        <h2></h2>
        <img class="services-pics3" src="/images/services-pic3.jpeg" alt="custom-ladder">
        <h2></h2>
        <img class="services-pics4" src="/images/services-pic4.JPG" alt="custom-ladder">
        <h2></h2>
    </div>
    
</div>

<div class="why-choose">
    <h1 class="why">Why choose us?</h1>
    <h2 class="reason">Pricing</h2>
        <p class="explain">First and foremost pricing, we can provide fair good pricing and great service to your needs price may vary depending how far you are located 
            from us.
        </p>

    <h2 class="reason">Experience</h2>
        <p class="explain"> We have years of experience therefore if any circumstances we can help you 
            with the issue you may have.
        </p>

    <h2 class="reason">Quality</h2>
        <p class="explain">Based on our 3 decades of experience, we can provide the best quality of service.
        </p>
   
</div>

<div class="contact" id="contact" >
        <h1>Contact Us</h1>
        <form   name="contact-us" action="/" method="POST">
           
          <label for="fname">Full Name</label>
          <input type="text" id="fullname" name="fullname" placeholder="Your name.."required>

          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="1234@gmail.com" required>

          <label for="phone-number">Phone Number</label>
          <input type="text" id="number" name="number" placeholder="Phone no." required>
      
          <label for="city">City</label>
          <input type="text"id="city" name="city" placeholder="Houston" required>
            <!-- <option value="australia"></option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </input> -->
      
          <label for="message">Message</label>
          <textarea  id="message" name="message" placeholder="How can we help you?" style="height:200px"></textarea>
      
          <input type="submit" value="Send" >
      
    </form>

    <div class="call">
        <h2 class="callt">Or Call Us</h2>
        <h3 class="callt">English: 281-492-4647 o para Espanol: 713-724-9892</h3>
    </div>
    

</div>



<div id="about">
    <h1 class="abouth">About Us</h1>
    <p class="aboutE">Our goal is provide you the best service for your home or business needs.
        With our three decade of experience of our family owned licensed company, our work is trusted and guaranteed 
        and we will provide the best quality of work to give outstanding results.
        We look forward on building not only your services and needs, but also lasting relationships
        with our clients.
    </p>

</div>

<%- include('partials/footer') %>